*{margin: 0;padding: 0;}

div#warning {
    margin-left: 20px;
    color: red;
}

.thongBao {
    color: red;
}

span {
    color: red;
}

h6 {
    float: left;
}

.td {
    margin: 20px;
}

h6 {
    margin: 30px;
    margin-bottom: 20px !important;
}

label {
    margin-top: 20px;
}